# 数据库配置
POSTGRES_PASSWORD=postgres123

# Redis 配置
REDIS_PASSWORD=redis123

# JWT 配置
JWT_SECRET=19391a718294795aa6a61a3e9eb837b9644888c0c35ffbe70cea1a57fc097c16

# 邮件配置
EMAIL_HOST=mail.wisesystemtech.com
EMAIL_PORT=587
EMAIL_USER=erpsystem@wisesystemtech.com
EMAIL_PASSWORD=jv7VSByIRIl2lhM5

# WhatsApp 配置
WHATSAPP_API_KEY=1e673379256fe1b0385c97d8120fbb30
WHATSAPP_PHONE_NUMBER=+85261606103

# 应用配置
NODE_ENV=production
PORT=3000

# 前端配置
VITE_API_BASE_URL=http://localhost/api
